<div class="modal fade" id="exampleModalToggle" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>入力データ状況</h6>
                <table border="1" style="width:100%">
                    <tr>
                        <td>○</td>
                        <td>作業日</td>
                        <td>2023-04-11</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>残高日</td>
                        <td>2023-04-11</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>時価取得日</td>
                        <td>2023-04-11</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>決算日</td>
                        <td>2023-04-11</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>休日決算か</td>
                        <td>NO</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>ファンドタイプ</td>
                        <td>通常ファンド</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>中間／期末</td>
                        <td>中間</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>為替レート</td>
                        <td>取得済み</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>時価</td>
                        <td>取得済み</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>A.ダウンロード</td>
                        <td>C:\Tmp\残高.xls</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>A.ダウンロード(PY)</td>
                        <td>元データファイル不明</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>A2.ダウンロード(円建外債)</td>
                        <td>元データファイル不明</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>A2.ダウンロード(円建外債)(PY)</td>
                        <td>元データファイル不明</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>A3.ダウンロード(CP)</td>
                        <td>元データファイル不明</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>A3.ダウンロード(CP)(PY)</td>
                        <td>元データファイル不明</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>A4.外国WPM</td>
                        <td>元データファイル不明</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>A5.国内取引経過</td>
                        <td>元データファイル不明</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>A6.外国取引経過(円建外債)</td>
                        <td>元データファイル不明</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>A7.CP取引経過</td>
                        <td>元データファイル不明</td>
                    </tr>
                    <tr>
                        <td>○</td>
                        <td>B.有価証券明細</td>
                        <td>元データファイル不明</td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row gy-2">
                        <div class="col-6">
                            <button type="button" class="btn btn-primary w-100">銘柄別明細</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-primary w-100">FSチェック用</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-primary w-100">休日外国アキュム単価反映</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-primary w-100">評価差額追加検証</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>