
<div id="popover_content">
    <!--ポップオーバー内表示用html-->
    <div id="popover_9997">
        <div class="popover-body">
            <table border="1">
                <tr>
                    <td>○</td>
                    <td>作業日</td>
                </tr>
                <tr>
                    <td>○</td>
                    <td>残高日</td>
                </tr>
                <tr>
                    <td>○</td>
                    <td>時価取得日</td>
                </tr>
                <tr>
                    <td>○</td>
                    <td>決算日</td>
                </tr>
                <tr>
                    <td>○</td>
                    <td>残高ファイル</td>
                </tr>
                <tr>
                    <td>○</td>
                    <td>ファンドタイプ</td>
                </tr>
            </table>
        </div>
    </div>
</div>