{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'fund/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'fund/bootstrap-table/css/bootstrap-table.min.css' %}">
  <script src="{% static 'fund/jQuery/jquery-3.6.4.min.js' %}"></script>
  <script src="{% static 'fund/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'fund/bootstrap-table/js/bootstrap-table.min.js' %}"></script>
  <title>sample app</title>
</head>

<body class="d-flex flex-column min-vh-100 vh-100">
  <div class="container-fluid">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'fund:schedule' %}">時価チェックapp</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <ui class="nav-item">
                <a class="nav-link {%block schedule%}{%endblock%}" href="{% url 'fund:schedule' %}">Schedule</a>
              </ui>
              <ui class="nav-item">
                <a class="nav-link {%block fund%}{%endblock%}" href="{% url 'fund:fund' %}">Fund</a>
              </ui>
              <ui class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'fund:dashboard_divlist' %}" role="button"
                  data-bs-toggle="dropdown">Dashboard</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item {% block dashboard_divlist %}{% endblock %}"
                      href="{% url 'fund:dashboard_divlist' %}">1.list_1</a>
                  </li>
                </ul>
              </ui>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </div>

  {% block Content %}
  {% endblock Content %}

</body>

<footer class="sticky-footer bg-primary text-white my-4">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright</span>
    </div>
  </div>
</footer>

</html>