{% extends 'fund/base.html' %}
{% block fund %}active{% endblock %}

{% block Content %}
<div class="container-fluid">
    <div id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse min-vh-100">
        <div class="position-sticky pt-3">
            <form method="POST">
                {%csrf_token%}
                <div>
                    <label>{{form.fund_id.label}}:</label>
                    <br>
                    {{form.fund_id}}
                </div>
                <div>
                    <label>{{form.as_of_date.label}}:</label>
                    <br>
                    {{form.as_of_date}}
                </div>
                <hr>
                <button type="submit" class="btn btn-primary btn-sw w-100">load</button>
            </form>
        </div>
    </div>
    <main class="col-md-9 ms-sm-auto col-lg-10 pt-md-4">

    </main>
</div>
{% endblock %}