{% extends 'fund/base.html' %}
{% block schedule %}active{% endblock %}
{% load static %}
{% load templatetags %}

{% block Content %}
<div class="container-fluid">
    <div id="loading">
        <div id="spinner" class="spinner-border text-primary" style="width: 100px; height: 100px;" role="status">
        </div>
    </div>
    <div class="container-fluid">
        <br>
        <!--検索フォーム-->
        <form>
            <div class="d-flex flex-row align-items-center py-4 mx-5" style="background-color: lightblue;">
                <label class="mx-4">回次コード</label>
                <input type="text" class="form-control" style="width:200px">
                <label class="ms-5 me-4">決算日</label>
                <input type="date" class="form-control" style="width:200px">
                <label class="mx-2">～</label>
                <input type="date" class="form-control" style="width:200px">
                <label class="ms-5 me-4">銘柄種別</label>
                <select class="form-control" style="width:200px">
                    <option value=""></option>
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="hamster">Hamster</option>
                    <option value="parrot">Parrot</option>
                    <option value="spider">Spider</option>
                    <option value="goldfish">Goldfish</option>
                </select>
            </div>
            <div class="d-flex flex-row align-items-center py-4 mx-5" style="background-color: lightgreen;">
                <label class="mx-4">ファンド名</label>
                <input type="text" class="form-control" style="width:300px">
                <label class="ms-5 me-2">調書状況</label>
                <select class="form-control" style="width:200px">
                    <option value=""></option>
                    <option value="出力済み">出力済み</option>
                    <option value="データ待ち">データ待ち</option>
                    <option value="不要">不要</option>
                </select>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-end py-4 mx-5"
                style="background-color: lightblue;">
                <button type="submit" class="btn btn-primary me-5" style="width:200px">
                    検索
                </button>
            </div>
        </form>
        <!--検索フォーム-->
        <br>
        <!--中段-->
        <div class="d-flex align-items-center justify-content-between p-2" style="background-color: lightpink;">
            <h5 class="font-weight-bold text-primary">○件</h5>
            <div class="d-flex flex-row align-items-center">
                <div>
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        style="width:200px">
                        チェックアクション
                    </button>
                    <ul class="dropdown-menu">
                        <form method="POST" action="{% url 'fund:schedule_change_status' %}" name="ck1_form">
                            {%csrf_token%}
                            <input type="hidden" id=ck1_content name="ck1_content">
                            <a class="dropdown-item" href="javascript:ck1_action();">
                                １．チェックを完了する
                            </a>
                        </form>
                    </ul>
                </div>
                <form action="" method="POST" class="mx-2">
                    {%csrf_token%}
                    <button id="update" type="submit" class="btn btn-primary" style="width:200px">
                        ステータスアップデート
                    </button>
                </form>
            </div>
        </div>
        <!--中段-->
        <br>
        <!--BTテーブル-->
        <div class="table-responsive mx-5">
            <table class="table table-bordered table-hover fs-6" id="dataTable" width="100%" cellspacing="0"
                data-toggle="table" data-search="false" data-click-to-select="false">
                <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th rowspan="2" class="pc-tac"><input class="pc-checkbox-th" type="checkbox"></th>
                        <th rowspan="2" data-align="left" data-sortable="true">ファンドコード</th>
                        <th rowspan="2" data-sortable="true">ファンド名</th>
                        <th rowspan="2" data-sortable="true">期末日</th>
                        <th rowspan="2" data-sortable="false">銘柄種別</th>
                        <th colspan="2" data-sortable="true">調書状況</th>
                        <th rowspan="2">アクション</th>
                    </tr>
                    <tr>
                        <th>MZ19</th>
                        <th>MZ18</th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in schedules%}
                    <tr data-rowname="{{i.fund_id}}" data-sectype="{{i.sec_type|to_name_en_sec_type}}">
                        <td>
                            {% if i.sec_type == 0 %}
                            <div class="pc-kaihei" data-kaihei-state="open">
                                <img src="{% static 'fund/svg/dash.svg' %}" width="32" height="32">
                            </div>
                            {% endif %}
                        </td>
                        <td style="text-align: center;"><input class="pc-checkbox" type="checkbox">
                        </td>
                        <td>{{i.fund_id}}</td>
                        <td>{{i.fund_name}}</td>
                        <td>{{i.date_close|date:"Y年m月d日"}}</td>
                        <td>{{i.sec_type|to_name_jp_sec_type}}</td>
                        <td>
                            {% if i.chosho_statu == "出力済み" %}
                            <a href="C:\tmp" class="pc-tooltip1" data-bs-toggle="tooltip">出力済み</a>
                            {% endif %}
                            {% if i.chosho_statu == "データ待ち" %}
                            <!-- モーダルを開く -->
                            <!-- <a class="" data-bs-toggle="modal" href="#exampleModalToggle">データ待ち</a> -->
                            <!-- ポップオーバーを開く -->
                            <!-- <a class="pc-popover" data-toggle="popover" data-content_div_id="popover_9997">データ待ち</a> -->
                            <a
                                href='JavaScript:open_modal("exampleModalToggle","{{i.fund_id}}","{{i.sec_type_jp}}",false)'>
                                データ待ち
                            </a>
                            {% endif %}
                            {% if i.chosho_statu == "計算中" %}
                            計算中
                            {% endif %}
                        </td>
                        <td></td>
                        <td>
                            {% if i.sec_type > 0 %}
                            <a href='JavaScript:open_modal("exampleModalToggle","{{i.fund_id}}","{{i.sec_type_jp}}",true)'
                                class="btn btn-primary btn-sm">調書手動作成</a>
                            {% endif %}
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <!--BTテーブル-->
    </div>
    <!--モーダルダイアログとポップオーバー-->
    <div>
        <!--モーダルダイアログ-->
        {% include 'fund/partials/modal_国内株式.html' %}
        <!--ポップオーバーの内容-->
        {% include 'fund/partials/popover.html' %}
    </div>

    <script>
        $(document).ready(function () {
            // チェックボックス(th)
            $(".pc-checkbox-th").click(function () {
                let state_th = $(this).prop('checked');
                let elem_tr = $("tr > td > input")
                elem_tr.each(function () {
                    $(this).prop({ indeterminate: false, checked: state_th })
                });
            });
            // チェックボックス(tr)
            $(".pc-checkbox").click(function () {
                let tr_self = $(this).parent().parent();
                let rowname_self = tr_self.attr("data-rowname");
                let sectype_self = tr_self.attr("data-sectype");
                let elem_all = $("tr[data-rowname=" + rowname_self + "][data-sectype='all'] > td > input")
                let elem_noall = $("tr[data-rowname=" + rowname_self + "][data-sectype!='all'] > td > input")
                let num_on = 0, num_off = 0;
                if (sectype_self == "all") {
                    let state_all = elem_all.prop('checked');
                    elem_noall.each(function () {
                        $(this).prop('checked', state_all)
                    });
                }
                else {
                    elem_noall.each(function () {
                        if ($(this).prop('checked')) { num_on++; }
                        else { num_off++ }
                    });
                    // チェックボックス(all)を制御する
                    if (num_on == 0) { elem_all.prop({ indeterminate: false, checked: false }) }
                    if (num_off == 0) { elem_all.prop({ indeterminate: false, checked: true }) }
                    if (num_on > 0 && num_off > 0) { elem_all.prop('indeterminate', true) }
                }
                // チェックボックス(th)を制御する
                num_on = 0; num_off = 0;
                let elem_tr = $("tr > td > input")
                elem_tr.each(function () {
                    if ($(this).prop('checked')) { num_on++; }
                    else { num_off++ }
                });
                let elem_th = $(".pc-checkbox-th");
                if (num_on == 0) { elem_th.prop({ indeterminate: false, checked: false }) }
                if (num_off == 0) { elem_th.prop({ indeterminate: false, checked: true }) }
                if (num_on > 0 && num_off > 0) { elem_th.prop('indeterminate', true) }
            });
            // 開閉
            $(".pc-kaihei").click(function () {
                // "plus"⇔"minus"のトグル
                let s_attr = $(this).attr('data-kaihei-state');
                let new_src;
                if (s_attr == "open") {
                    new_src = "{% static 'fund/svg/plus.svg' %}";
                    $(this).attr('data-kaihei-state', "close")
                }
                else {
                    new_src = "{% static 'fund/svg/dash.svg' %}";
                    $(this).attr('data-kaihei-state', "open")
                }
                $(this).find("img").attr("src", new_src)
                // 子<tr>の表示/非表示
                let tr_self = $(this).parent().parent();
                let rowname_self = tr_self.attr("data-rowname");
                /*
                tr_self.siblings().each(function () {
                    let rowname = $(this).attr("data-rowname");
                    if (rowname == rowname_self) {
                        if (s_attr == "plus") {
                            $(this).css("display", "none");
                        }
                        else {
                            $(this).css("display", "table-row");
                        }
                    }
                });
                */
                if (s_attr == "open") {
                    $("tr[data-rowname=" + rowname_self + "][data-sectype!='all']").css("display", "none");
                }
                else {
                    $("tr[data-rowname=" + rowname_self + "][data-sectype!='all']").css("display", "table-row");
                }
            });
            // Tooltip
            $(".pc-tooltip1").tooltip({
                title: "<h6>右クリックしてリンクアドレスをコピーしてください</h6>",
                html: true
            });
            // hover event
            $('.pc-tooltip2').hover(
                function () {
                    //マウスカーソルが重なった時の処理
                    $(this).css('background-color', '#00f');
                },
                function () {
                    //マウスカーソルが離れた時の処理
                    $(this).css('background-color', 'transparent');
                }
            );
            // Popover
            $('.pc-popover').popover({
                placement: 'top',
                trigger: 'hover',
                container: 'body',
                title: '調書状況 MZ18',
                html: true,
                content: function () {
                    var contentDivId = '#' + $(this).data('content_div_id');
                    console.log($(contentDivId).html());
                    return $(contentDivId).html();
                },
            });
        });
        // ステータスアップデートでスピナー表示
        $("#update").click(function () {
            $("#loading").css("display", "block");
        });
        // チェックアクション
        var $table = $("#dataTable");
        function ck1_action() {
            document.getElementById("ck1_content").value = JSON.stringify($table.bootstrapTable('getSelections'));
            document.ck1_form.submit();
        }
        // モーダルダイアログ
        function open_modal(elem_Id, fund_id, sec_type_jp, action_sw) {
            if (action_sw) {
                $("#" + elem_Id).find(".modal-footer").css("display", "block");
            }
            else {
                $("#" + elem_Id).find(".modal-footer").css("display", "none");
            }
            $("#" + elem_Id).find(".modal-title").text(fund_id + " " + sec_type_jp);
            $("#" + elem_Id).modal('show');
        }
    </script>

    <style>
        #loading {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background: #000;
            opacity: 0.6;
            z-index: 1;
        }

        #spinner {
            position: fixed;
            z-index: 2;
            top: 30%;
            left: 50%;
        }

        .pc-tac {
            text-align: center;
        }

        #popover_content {
            visibility: hidden
        }

        table#dataTable>thead>tr>th {
            vertical-align: middle;
        }
    </style>

    {% endblock %}